<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
<<<<<<< HEAD
    <h1>Pig Latinizer!</h1>
    <form method="POST" action="/piglatinize">
      <label for="phrase">Enter your phrase:</label>
      <input type="text" id="phrase" name='user_phrase'>
      <input type="submit">
=======
    <h1>Pig Latinizer</h1>
    <form class="" action="/piglatinize" method="post">
      <label User Input:><input type="text" name="user_input" value=""></label>
      <input type="submit" name="" value="Submit">

>>>>>>> e6674145eb9bddde9edd8a8901ae377729e61110
    </form>

  </body>
</html>
